@page "{id}"
@model PasswordModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<form method="post">
    <input type="hidden" asp-for="Password.Id" />
    <div class="form-group">
        <label asp-for="Password.OldPassword"></label>
        <input type="password" class="form-control" asp-for="Password.OldPassword">
        <span asp-validation-for="Password.OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password.NewPassword"></label>
        <input type="password" class="form-control" asp-for="Password.NewPassword">
        <span asp-validation-for="Password.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password.NewPassword2"></label>
        <input type="password" class="form-control" asp-for="Password.NewPassword2">
        <span asp-validation-for="Password.NewPassword2" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

